/* SIDE BAR */

.sidebar-menu {
  width: 8rem;
  background-color: #342C58;
  left: 0;
  height: 100%;
  position: fixed;
  text-align: center;
  z-index: 999;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: #AEAED5;
}

.sideIcons {
  margin-top: 4rem;
  font-size: 27px;
  color: #AEAED5;
}

.sideIcons ul {
  padding: 12px 15%;
  display: inline-block;
  margin-bottom: 5px;
  text-align: center;
  line-height: 2.5em;
}


#iconsList {
  text-decoration: none;
  list-style-type: none;
}
/*Hover effect*/
.centered:hover {
  content: "";
  box-sizing: border-box;
  position: relative;
  background-color: #8C87C2;
  padding: 10px 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  margin-bottom: 1em;
  border-radius: 4px;
}

.active {
  background-color: #8C87C2;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  margin-bottom: 1em;
  border-radius: 4px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 8rem;
  right: 0;
  height: 5rem;
  z-index: 999;
  transition: all .3s ease-in;
  background-color: #ffffff;
  box-shadow: 0 2px 10px -1px #4b4b4b;
}

.header span {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
}

.admin {
  display: flex;
  align-items: center;
  padding-right: 7em;
  cursor: pointer;
}

#name {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin-left: 10px;
}

#drop {
  margin-left: 5px;
}

.material-icons {
  margin-right: 1rem;
  font-size: 30px;
}

.dashBoard {
  width: auto;
  margin-left: 8rem;
  position: relative;
  padding: 2rem 4rem;
  top: 5rem;
  background-color: #F4F5FA;
}

.accountHolders {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  text-align: center;
  align-items: center;
  margin-top: 5rem;
}

.currentAccount {
  width: 240px;
  height: 180px;
  background-image: linear-gradient(60deg, #4e54c8, #8f94fb);
  background-repeat: no-repeat;
  border-radius: 5px;
  color: #ffffff;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.savingsAccount {
  width: 240px;
  height: 180px;
  background-image: linear-gradient(75deg, #00b09b, #96c93d);
  border-radius: 5px;
  color: #ffffff;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.domAccount {
  width: 240px;
  height: 180px;
  background-image: linear-gradient(75deg, #fdc830, #f37335);
  border-radius: 5px;
  color: #ffffff;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fixedAccount {
  width: 240px;
  height: 180px;
  background-image: linear-gradient(75deg, #cb356b, #bd3f32);
  border-radius: 5px;
  color: #ffffff;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tag {
  font-family: 'Lato', sans-serif;
  font-size: 17px;

}

#bg {
  margin-left: 8rem;
  margin-top: -5rem;
}

#countUp {
  position: relative;
  margin-top: 1.5rem;
  z-index: 999;
  font-family: 'Lato', sans-serif;
  font-size: 50px;

}

.newAccountsTable {
  margin-top: 4rem;
  
}

.table, .transactions {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 1070px;
  justify-items: flex-start;
  text-align: justify;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  margin: 1rem 4.2rem;
}



.tableHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color:  #6B6F82;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  color: #000000;
}

.transactions {
  margin-top: 4rem;
}

#debit {
  color: #ff2b2b;
}

#credit {
  color: #3cff2b;
}

#bv {
  margin-top: .5rem;
}

hr {
  border-color: #c4c4c4;
}







